.python-version
Justfile
.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv
.git
*/__pycache__
.copier
.vscode
LICENSE
tests
README.md
# Docker
Dockerfile
docker-compose.yml
docker-compose.override.yml
